#game-container {
  background-color: azure;
  display: flex;
  justify-content: space-around;
}

.grid {
  width: 500px;
  height: 500px;
  border: solid red 1px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.start-button {
  
}

/* change width and height based on orientation */
.ships {
  width: 50px;
  height: 20px;
  background-color: blue;
  margin: 5px;
  cursor: grab;
}

.dragging {
  opacity: 0.5;
  background-color: red;
}

.cell {

  border: solid red 1px;
}

.cell:hover {
  background-color: lightgrey;
}

.ship {
  background-color: blue;
}
.hit {
  background-color: red;
}
.miss {
  background-color: gray;
}

.hidden {
  /* display: none; */
}

/* need to fix so that css does not flash when page is refreshed 
1 approach will be chaning the html to be dynamic and activate using start game button*/