:root{
  --grid-size: 10;
}

#main-container {
  background-color: azure;
  display: flex;
  justify-content: space-around;
}

.board {
  width: 500px;
  height: 500px;
  border: solid red 1px;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-template-rows: repeat(var(--grid-size), 1fr);
}

.cell {
  border: solid red 1px;
}

.cell:hover {
  background-color: lightgrey;
}

.starting-ships{
  background-color: blue;
  display: inline-block;
  cursor: grab;
  padding: 5px;
  color: white;
}

.dragging{
  opacity: 0.5;
  background-color: yellow;
}


.ship {
  background-color: blue;
  
}
.hit {
  background-color: red;
}
.missed {
  background-color: gray;
}